# Core requirements with compatible versions
# Pre-requisites
setuptools>=65.0.0
wheel>=0.38.0

# Core libraries
fastapi==0.109.2
uvicorn==0.21.1
pydantic==2.4.2
python-multipart==0.0.6

# Data processing
pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.2

# Duration parsing
isodate==0.6.1

# Other utilities
requests==2.31.0
python-dotenv==1.0.0

# Additional libraries
flask==2.3.2
werkzeug>=2.0.0
plotly==5.14.1
lightgbm==3.3.5
gunicorn
pdfkit
scipy==1.10.1
google-auth==2.22.0
google-api-python-client==2.93.0
psycopg2-binary==2.9.7
SQLAlchemy==2.0.28
xgboost==1.7.3
catboost==1.2.1
matplotlib==3.7.1
seaborn==0.12.2
tensorflow==2.12.0
joblib==1.2.0
graphviz==0.20.1
typing_extensions==4.5.0
statsmodels==0.13.5 
